@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


//Font Families
$primary_headers: 'Montserrat', sans-serif;
$prmary_text: 'Roboto', sans-serif;

//Colors
$primary_dark: #293b46;
$primary_light: #4e647b;
$primary_gradient: linear-gradient(110deg, #4e647b, #293b46);