@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


//Font Families
$primary_headers: 'Montserrat', sans-serif;
$primary_text: 'Roboto', sans-serif;

//Colors
$primary_dark: #293b46;
$primary_light: #4e647b;
$primary_gradient: linear-gradient(110deg, #4e647b, #293b46);
$table_row: rgba(215, 225, 232, .95);
$lt_blue_bckgrd: rgba(215, 225, 232, .95);


//Reused element styles
@mixin buttonTheme($fontSize, $height) {
    font-size: $fontSize;
    height: $height;
    text-decoration: none;
    margin: .5rem auto;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(45deg, #6d829b, #4d7288);
    background: linear-gradient(135deg, #4d7288, #293b46);
    color: white;
    padding: 10px;
    border: 2px solid rgb(75, 75, 75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #333;
    border-radius: 3px;
}

@mixin componentContainerTheme() {
    background-color: $lt_blue_bckgrd;
    background: rgba(100, 100, 100, .2);
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: relative;
}

@mixin pageContainerTheme() {
    padding: 10px 0;
}

@mixin tableTheme() {
    overflow: scroll;
    font-family: $primary_headers;
    // width: 98%;
    margin: 5px auto;
    margin-top: 0;
    border-collapse: collapse;
    position: relative;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

@mixin tableHeadTheme() {
    font-size: 14px;
    top: 0px;
    background-color: rgb(43, 62, 73);
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    color: white;
}

@mixin tableHeadCellTheme() {
    text-align: center;
    border: none;
    font-weight: 700;
    padding: 8px 4px;
}

@mixin tableCellTheme() {
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
}

@mixin sectionHRTheme() {
    width: 35%;
    overflow: hidden;
    border-bottom: 2px solid #333;
    opacity: 1;
    margin-bottom: 1rem;
    margin-top: .35rem;
}

@mixin innerSectionHeaderTheme(){
    text-align: left;
    font-size: 1.2rem;
	margin: 5px auto;
	text-transform: uppercase;
	font-family: $primary_headers;
	font-weight: bold;
}