@use './global_variables.scss' as gv;


.page-wrapper {
    padding: 0 1.5% 2% 1.5%;
    min-height: 80vh;
    width: 100%;

    .nav-container {
        margin: 0;
        transform: translateY(2px);

        nav {
            margin: 0;
            // padding-left: .5%;

            ul {
                margin: 0;
                display: flex;
                list-style: none;
                padding: 0;

                li {
                    background-color: gv.$nav_links;
                    padding: 2px 8px;
                    border-top: 2px solid rgba(100, 100, 100, .5);
                    border-right: 2px solid rgba(100, 100, 100, .5);
                    margin: 0;
                    border-radius: 4px 4px 0 0;
                    display: flex;

                    &:first-child {
                        border-left: 2px solid rgba(100, 100, 100, .5);
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: .75rem;
                        font-family: gv.$primary-headers;
                    }

                    &.active {
                        border-left: 2px solid rgba(100, 100, 100, .5);
                        border-top: 3px solid rgba(100, 100, 100, .5);
                        border-right: 3px solid rgba(100, 100, 100, .5);
                        border-color: #444;
                        background-color: white;

                        a {
                            opacity: 1;
                            font-weight: 700;
                            color: #222;
                        }
                    }
                }
            }
        }
    }

    .content-container {
        min-height: 80vh;
        border-radius: 3px 3px 3px 3px;
        border: 2px solid #444;

    }
}

@media screen and (min-width: 720px) {
    .page-wrapper {

        .nav-container {

            nav {

                ul {

                    li {
                        font-size: 1.1rem;

                        a {
                            padding: 5px;
                            font-size: 1.05rem;
                        }
                    }
                }
            }
        }
    }

}