/*Flows Table Styles*/

.info__container {
    display: inline-block;
    font-size: 16px;
    padding: .5%;
    max-width: 1800px;
    margin: 5px auto;
    border-radius: 2px;
    margin-top: 15px;
    width: 100%;
}

.flows__table {
    display: inline-table;
    table-layout: fixed;
    margin: 0 auto 10px auto;
    text-align: center;
    padding: 0 1px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    border-collapse: separate;
    border-spacing: 0px 8px;

    tr {
        background-color: #f0f0f0;
        position: relative;
    }

    th {
        box-sizing: border-box;
        overflow: hidden;
        width: 20%;
        padding: 12px;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0;
        background-color: #3c5061;
        font-size: 1.1em;
        font-weight: 700;
        color: #eeeeee;
        letter-spacing: initial;
        z-index: 1000;
        margin-bottom: 0;
        height: 58px;
        border-top: 5px solid white;
    }

    .header--small {
        font-size: .8em;
    }

    th hr {
        border-bottom: 1px solid white;
        margin: 2px auto;
    }

    .mobile-show {
        display: none;
    }

    hr {
        width: 50%;
        border-bottom: 1px solid #454545;
        margin: 0 auto;
        overflow: hidden;
    }


}


/*---Media Queries---*/
@media screen and (max-width: 640px) {

    .mobile-hide {
        display: none;
    }

    .info__container {
        font-size: 10px;
        max-width: 96vw;
    }

    .flows__table {

        th {
            padding: 8px 4px;
            font-size: 1.25em;
            line-height: .8em;
            width: 34%;
        }

        .mobile-show {
            display: block;
        }

        .mobile-show.gaugeInfo {
            display: table-cell;
            padding: 10px 8px;
            box-sizing: border-box;
            /*width: 19%;*/
            overflow: hidden;
        }

        .mobile-hide {
            display: none;
        }

        span.mobile-show {
            font-size: .9em;
        }
    }

}