@use '../styles/global_variables.scss';

.info__container {
    display: inline-block;
    font-size: 16px;
    padding: .5%;
    max-width: 1800px;
    margin: 5px auto;
    border-radius: 2px;
    margin-top: 15px;
    width: 100%;
}

.flows__table {
    display: inline-table;
    table-layout: fixed;
    margin: 0 auto 10px auto;
    text-align: center;
    padding: 0 1px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    border-collapse: collapse;
    border-spacing: 0px 8px;
    position: relative;

    thead {

        tr {
            background-color: #f0f0f0;
            position: relative;

        }
    }

    th {
        box-sizing: border-box;
        overflow: hidden;
        width: 20%;
        padding: 15px;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0px;
        background-color: #3c5061;
        font-size: 1.1em;
        font-weight: 700;
        color: #eeeeee;
        letter-spacing: initial;
        z-index: 1000;
        margin-bottom: 0;
        margin-top: 5px;
        height: 58px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
            height: 5px;
            background-color: white;
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 5px;
            background-color: white;
            z-index: 2;
        }


    }

    .header--small {
        font-size: .8em;
    }

    th hr {
        border-bottom: 1px solid white;
        margin: 2px auto;
    }

    .mobile-show {
        display: none;
    }

    hr {
        width: 50%;
        border-bottom: 1px solid #454545;
        margin: 0 auto;
        overflow: hidden;
    }

    .sort-header {
        background-color: #3c5061;
        background: global_variables.$primary_gradient;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 72px;
        margin-bottom: 5px;
        z-index: 1;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: Montserrat, sans-serif;
        color: #222233;
        font-weight: 700;
        width: 100%;
        border-top: 4px solid white;

        td {
            text-align: center;
            color: white;
            text-shadow: 2px 2px black;
        }
    }
}


/*---Media Queries---*/
@media screen and (max-width: 640px) {

    .mobile-hide {
        display: none;
    }

    .info__container {
        font-size: 10px;
        max-width: 96vw;
    }

    .flows__table {

        th {
            padding: 15px 4px;
            font-size: 1.25em;
            line-height: .8em;
            width: 34%;
        }

        .mobile-show {
            display: block;
        }

        .mobile-show.gaugeInfo {
            display: table-cell;
            padding: 10px 8px;
            box-sizing: border-box;
            overflow: hidden;
        }

        .mobile-hide {
            display: none;
        }

        span.mobile-show {
            font-size: .9em;
        }
    }

}