@use '../styles/global_variables.scss' as gv;

.page__container {
    @include gv.pageContainerTheme();

    .inner__container {
        border-radius: 5px;
        padding: 1rem 2%;
        position: static;
        background-color: white;

        .section__header {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            h2 {
                @include gv.innerSectionHeaderTheme;
                margin: 0;
            }

            .toggler__container {
                margin-left: auto;
                margin-right: 4%;

                label {
                    font-family: gv.$primary-headers;
                    font-weight: 700;
                    font-size: .8rem;
                }
            }
        }

        hr {
            @include gv.sectionHRTheme;
            width: 50%;
        }
    }

    .card__container {
        position: relative;
        overflow: hidden;

        .inner__container-card {
            width: 100%;
            position: relative;
            -webkit-transition: all 2s ease;
            transition: all 2s ease;
            height: max-content;
        }

        .map__container,
        .table__container {
            position: absolute;
            top: 0;
            opacity: 0;
        }

        .map-visible,
        .table-visible {
            opacity: 1;
        }

    }
}


@media screen and (max-width: 380px) {
    .page__container {
        .inner__container {
            .section__header {
                h2 {
                    font-size: 1rem;
                }

                .toggler__container {
                    label {
                        font-family: gv.$primary-headers;
                        font-weight: 700;
                        font-size: .6rem;
                    }
                }
            }

            hr {
                margin-top: 0;
                width: 40%;
            }
        }
    }
}

@media screen and (min-width: 640px) {}