@use '../styles/global_variables.scss' as gv;

.component__container {
    @include gv.componentContainerTheme;
    background-color: #A7B1BB;
    width: 98%;

    .map__container {
        position: relative;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


.map,
.table {
    border: 2px solid black;
    width: 100%;
    perspective: 1000px;
    transition: all 2s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.table {
    transform: rotateY(-180deg);
    overflow-y: scroll;
    border: 0px;
}

.map-flipped {
    transform: rotateY(180deg);
}

.table-flipped {
    height: 100%;
    transform: rotateY(0deg);
}


@media screen and (min-width: 640px) {

    .map {
        // height: 85vh;
        height: 100%;
    }

}