@use "../styles/global_variables.scss";

.primary-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: global_variables.$primary_gradient;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer-items {
        flex-basis: 33%;
        padding: 0;

        img {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: block;
        }

        ul,
        p {
            padding: 0;
            list-style: none;
            color: white;
            font-family: global_variables.$primary_headers;
            font-size: 15px;
            font-weight: 700;
            line-height: 27px;
            text-align: center;
            text-transform: uppercase;
        }

        li {
            margin: 0 auto;
        }

        li a,
        li a:visited {
            color: white;
            line-height: 37px;
            text-decoration: none;
        }

        p {
            margin-bottom: 0px;
        }
    }

}



@media screen and (max-width: 640px) {

    .primary-footer {
        flex-direction: column;
    }

    div.footer-items {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .footerItems li {
        line-height: 37px;
    }

}