@use "../styles/global_variables.scss" as gv;

.component__container {
    @include gv.componentContainerTheme;

    .inner__container {
        background-color: rgba(255, 255, 255, .95);
        box-shadow: 2px 2px 3px #444;
        border-radius: 5px;
        padding: 1rem 2%;

        .section__header {
            @include gv.innerSectionHeaderTheme;
        }

        hr {
            @include gv.sectionHRTheme;
            width: 50%;
        }

        .current-weather__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;

            h3 {
                text-align: left;
                font-size: .7rem;
                grid-column: 1 / 5;
                padding: 0;
                line-height: 1rem;
                margin: .1rem;
            }

            img {
                margin-top: 15px;
                ;
                grid-column: 1 / 2;
                width: 100%;
            }

            .current-weather-details {
                margin-top: 15px;
                ;
                grid-column: 2/5;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                justify-content: space-around;

                p {
                    font-size: .8rem;
                    font-weight: 700;
                    margin: .15rem .75rem;
                    padding: 0;
                    line-height: 1.1rem;
                }
            }
        }

        .forecast__container {
            margin-top: 1rem;

            .forecast__heading {
                text-transform: uppercase;
                font-family: gv.$primary-headers;
                font-size: .9rem;
                font-weight: 800;
                margin: 1.5rem 0 .5rem 0;
                background: rgba(100, 100, 100, .2);
                padding: 2px;
            }
        }
    }

}