@use '../styles/global_variables.scss';

.loader {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loading-text {
        font-family: global_variables.$primary_headers;
        letter-spacing: 4px;
        padding: 10px 20px;
        z-index: 100;
        text-align: center;
        border-radius: 5px;
        font-weight: 700;
    }

    &.spinner {
        display: flex;
        aspect-ratio: 1;

        .loading-text {
            font-size: 1.1rem;
        }
    }

    &.rain {
        height: 350px;

        .loading-text {
            font-size: 1.4rem;
            background-color: rgba(245, 245, 245, .95);
            margin-top: 175px;
            box-shadow: 2px 2px 3px 3px rgba(78, 100, 125, .8);
        }

    }

}


.loading-spinner {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border: 7px solid global_variables.$primary_dark;
    border-top: 7px solid #ffffff;
    border-bottom: 7px solid #ffffff;
    border-radius: 100%;
    animation: loaderspin 3s linear infinite;
}

.droplet {
    opacity: 0;
}

.drip {
    animation: drip-drip 1.97s ease-in infinite;
    z-index: 99;
}

.drip2 {
    // animation: drip-drip 1.65s ease-in 4.5s infinite;
    animation: drip-drip 1.65s ease-in 1s infinite;
    z-index: 101;
}

.drip3 {
    // animation: drip-drip 1.85s ease-in 1.5s infinite;
    animation: drip-drip 1.85s ease-in 1.2s infinite;
    z-index: 99;
}

.drip4 {
    // animation: drip-drip 2.05s ease-in 1s infinite;
    animation: drip-drip 2.05s ease-in 1.5s infinite;
    z-index: 101;
}

.drip5 {
    // animation: drip-drip 1.53s ease-in 3.5s infinite;
    animation: drip-drip 1.53s ease-in 1.75s infinite;
    z-index: 99;
}

.drip6 {
    // animation: drip-drip 1.45s ease-in .5s infinite;
    animation: drip-drip 1.45s ease-in 1.2s infinite;
    z-index: 101;
}

@keyframes drip-drip {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(80vh);
    }
}

@keyframes loaderspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}