@use "../styles/global_variables.scss" as gv;

.info-window__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        font-family: gv.$primary_headers;
    }

    h4 {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    p {
        font-size: .8rem;
    }

    a {
        color: black;
        
        img {
            display: block;
            width: 95%;
            aspect-ratio: 1.77 / 1;
            margin: 0 auto;
            transition: opacity .85s ease;
        }

        figcaption{
            text-decoration: none;
        }
    }

    figcaption {
        color: black;
        text-decoration: none;
        text-align: center;

        &:nth-child(1) {
            font-size: .75rem;
            font-weight: 600;
        }
    }

    .button--close {
        margin-left: auto;
        background-color: transparent;
        border: none;
        margin-bottom: .5rem;
        padding-right: 0;

        &:focus-visible {
            outline: none;
        }
    }

    .level-status {
        width: 80%;
        align-self: flex-start;
        font-weight: 600;
        padding: 0 .25rem;
    }


    .flow__container {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;


        p {
            margin: 1rem 0;

            &.flow-info {
                display: flex;
                height: 2.5rem;
                align-items: center;

                span {
                    &:nth-child(1) {
                        font-size: 1.85rem;
                    }

                    &:nth-child(2) {
                        font-size: .75rem;
                        align-self: flex-start;
                        margin-left: 1rem;
                    }
                }
            }
        }

        .min-max__container {
            display: flex;
            justify-content: space-between;

            p {
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0 1rem;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .info-window__container {

        * {
            font-family: gv.$primary_headers;
        }

        h4 {
            font-size: .85rem;
            font-weight: 700;
        }

        p {
            font-size: .65rem;
            line-height: .7rem;
        }

        img {
            width: 100%;
        }

        a {
            font-size: .7rem;
        }
    
        figcaption {
            font-size: .7rem;
        }
    }
}