@use "../styles/global_variables.scss" as gv;

.info-window__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        font-family: gv.$primary_headers;
    }

    h4 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        min-width: 90%;
    }

    p {
        font-size: .8rem;
    }

    a {
        color: black;

        img {
            display: block;
            width: 95%;
            aspect-ratio: 1.77 / 1;
            margin: 0 auto;
            transition: opacity .85s ease;
        }

        figcaption {
            text-decoration: none;
        }
    }

    figcaption {
        color: black;
        text-decoration: none;
        text-align: center;

        &:nth-child(1) {
            font-size: .75rem;
            font-weight: 600;
        }
    }

    .button--close {
        margin-left: auto;
        background-color: transparent;
        border: none;
        margin-bottom: .5rem;
        padding-right: 0;

        &:focus-visible {
            outline: none;
        }
    }

    .level-status {
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding: 0 .25rem;
    }

    .gauge-level {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size: 1.1rem;
        padding: .5rem 0.25rem;
        margin: 0;

        .level-change {
            font-size: .9rem;
            margin: .5rem;
            font-weight: 400;
        }
    }

    .gauge-paragraph {
        line-height: 1rem;
        margin: 0 auto;
        text-align: center;
    }

    .flow__container {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;


        p {
            margin: 1rem 0;

            &.flow-info {
                display: flex;
                height: 2.5rem;
                align-items: center;

                span {
                    &:nth-child(1) {
                        font-size: 1.85rem;
                    }

                    &:nth-child(2) {
                        font-size: .75rem;
                        margin-left: 1rem;
                    }
                }
            }
        }

        .min-max__container {
            display: flex;
            justify-content: space-between;

            p {
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0 .5rem;
            }
        }
    }

    .rivers-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-width: 90%;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .8rem;
            width: 100%;
            margin: .25rem auto;
            font-weight: 500;
            padding: 0 .2rem;

            &:first-child {
                font-weight: 600;
                border-bottom: 1px solid black;
                text-transform: uppercase;
            }

            &>span:first-child {
                margin-right: 1.25rem;
            }

            .min-max {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: max-content;

                span {
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .info-window__container {

        * {
            font-family: gv.$primary_headers;
        }

        h4 {
            font-size: .85rem;
            font-weight: 700;
        }

        p {
            font-size: .65rem;
            line-height: .7rem;
        }

        img {
            width: 100%;
        }

        a {
            font-size: .7rem;
        }

        figcaption {
            font-size: .7rem;
        }
    }
}