@use "../styles/global_variables.scss" as gv;

.component__container {
    @include gv.componentContainerTheme;

    .inner__container {
        background-color: rgba(255, 255, 255, .95);
        box-shadow: 2px 2px 3px #444;
        border-radius: 5px;
        padding: 1rem 2%;

        .section__header {
            @include gv.innerSectionHeaderTheme;
        }

        hr {
            @include gv.sectionHRTheme;
            width: 50%;
        }
    }

        table {
            @include gv.tableTheme();
        }

        thead {
            @include gv.tableHeadTheme();
            position: relative;
        }

        th {
            @include gv.tableHeadCellTheme();
        }

        td {
            @include gv.tableCellTheme();
        }

        tbody {
            tr:nth-child(odd) {
                background-color: white;
            }

            tr:nth-child(even) {
                background-color: gv.$table_row;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        }

    }

    @media screen and (max-width: 380px){

        .component__container{
            .inner__container{
                th {
                    font-size: .6rem;
                }
            }
        }
    }