@use "../styles/global_variables.scss" as gv;

.component__container {
    @include gv.componentContainerTheme;

    table {
        @include gv.tableTheme();
    }

    thead {
        @include gv.tableHeadTheme();
    }

    th {
        @include gv.tableHeadCellTheme();
    }

    td {
        @include gv.tableCellTheme();
    }

    tbody {
        tr:nth-child(odd) {
            background-color: white;
        }

        tr:nth-child(even) {
            background-color: gv.$table_row;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }

}