/*Flows Table Styles*/
.flow__table-row {
    background-color: #f0f0f0;
    position: relative;
    margin: 0;
    border-bottom: 1px solid #777;
    height: 110px;

    &:nth-child(even) {
        background-color: rgba(188, 188, 188, .25);
    }

    td {
        padding: 5px;
        padding-top: 1.4rem;
        box-sizing: border-box;
        overflow: hidden;
        width: 20%;

        div.flowBar {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            text-align: left;
            flex-basis: 15px;
            width: 15px;
            height: 75px;
            margin: 7px;
            padding: 6px 0;
            border: 1px solid black;
            position: relative;

            .arrow {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: block;
                margin: 0 auto;
                width: 8px;
                height: 8px;
            }

            .rising {
                transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
            }

            .falling {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

            .top.arrow.falling {
                display: none;
            }

            .bottom.arrow.rising {
                display: none;
            }

            .bottom.arrow.steady,
            .top.arrow.steady {
                display: none;
            }

        }
    }

    td.river-stats {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: space-evenly;
        justify-content: center;
        text-align: left;

        .river__heading {
            position: absolute;
            top: .2rem;
        }

        p {
            margin: 0;

            &:nth-child(2) {
                margin-top: .4rem;
            }
        }

    }

    a,
    a:visited,
    a:link {
        text-decoration: underline;
        color: #232323;
        font-weight: 700;
        font-size: .9rem;
    }

    .gaugeName,
    .updateTime {
        font-size: .65rem;

        a {
            font-size: .7rem;
        }
    }


    .mobile-show {
        display: none;
    }

    hr {
        width: 50%;
        border-bottom: 1px solid #454545;
        margin: 0 auto;
        overflow: hidden;
    }

    .stats {
        font-weight: 500;
        font-size: .8rem;
    }

    .levelContainer {
        padding: 0 20%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }


    .curLvl {
        font-weight: 700;
        font-size: 12px;
        text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
        align-self: center;
        padding: 1px;
        border-radius: 5px;
    }

    .level,
    .river-stats {
        font-size: 1.05em;
        font-weight: 800;
    }
}


/*---Media Queries---*/
@media screen and (max-width: 640px) {

    .flow__table-row {
        font-size: .65rem;
        ;

        .mobile-hide {
            display: none;
        }

        .info_container {
            font-size: 10px;
            max-width: 96vw;
            box-shadow: 2px 2px 4px 4px rgb(188 188 188);
        }

        td {
            width: 34%;
        }

        .level,
        .river-stats {
            font-size: 1.25em;
        }

        .gaugeName {
            font-size: .75em;
        }

        .mobile-show {
            display: initial;
        }

        .mobile-show.gaugeInfo,
        .gaugeName.mobile-show {
            display: table-cell;
            padding: 10px 8px;
            box-sizing: border-box;
            /*width: 19%;*/
            overflow: hidden;
        }

        .mobile-hide {
            display: none;
        }

        .level .mobile-show {
            font-size: .9em;
            font-weight: 500;
        }

        .level .mobile-show hr {
            margin: 1px auto;
        }

        .flowBar {
            height: 60px;
        }

        span.mobile-show {
            font-size: .9em;
        }

    }

}