@use '../styles/global_variables.scss' as gv;

/*Flows Table Styles*/
tr.flow__table-row {
    background-color: white;
    position: relative;
    margin: 10px 0;
    height: 120px;
    border-bottom: 2px solid #333;
    width: 100%;

    &:nth-child(even) {
        background-color: gv.$table_row;
    }


    td {
        padding: 5px;
        box-sizing: border-box;
        overflow: hidden;
        width: 20%;


        div.flowBar {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            text-align: left;
            flex-basis: 15px;
            width: 18px;
            height: 75px;
            margin: 7px;
            padding: 6px 0;
            border: 1px solid black;
            position: relative;

            .arrow {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: block;
                margin: 0 auto;
                width: 8px;
                height: 8px;
            }

            .rising {
                transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
            }

            .falling {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

            .top.arrow.falling {
                display: none;
            }

            .bottom.arrow.rising {
                display: none;
            }

            .bottom.arrow.steady,
            .top.arrow.steady {
                display: none;
            }

        }

        &.river-stats {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            padding-top: 1.6rem;
            position: relative;
            overflow: visible;

            .river__heading {
                color: black;
                position: absolute;
                display: flex;
                justify-content: space-between;
                top: .2rem;
                left: 0;
                width: max-content;
                height: max-content;
                padding: 0 5px;

                a {
                    font-size: 1rem;
                }

            }

            .gauge-reading {
                font-size: 1.5rem;
            }

            span {
                padding: 0 5px;
                margin-top: 2px;
                width: 100%;
                font-size: .75rem;
            }

            p {
                margin: 0;
                margin-top: 5px;
                font-size: .7rem;
                font-weight: 500;
                text-transform: uppercase;

                &:nth-child(2) {
                    margin-top: .4rem;
                }
            }
        }
    }


    a,
    a:visited,
    a:link {
        text-decoration: underline;
        color: #232323;
        font-weight: 700;
        font-size: .9rem;
    }

    .gaugeName,
    .updateTime {
        font-size: .85rem;

        a {
            font-size: .7rem;
        }
    }



    hr {
        width: 50%;
        border-bottom: 1px solid #454545;
        margin: 0 auto;
        overflow: hidden;
    }

    .stats {
        font-weight: 500;
        font-size: .8rem;
    }

    .levelContainer {
        padding: 0 20%;
        display: flex;
        flex-wrap: nowrap;
        // justify-content: space-around;
        justify-content: space-between;
        align-items: center;


        .levelInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 1.5rem;
        }

        .curLvl {
            font-weight: 700;
            font-size: 12px;
            text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
            align-self: center;
            padding: 1px;
            border-radius: 5px;
        }

    }

    .mobile-show {
        display: none;
    }


    .level,
    .river-stats {
        font-size: 1.05em;
        font-weight: 800;
    }
}


/*---Media Queries---*/
@media screen and (max-width: 900px) {
    tr.flow__table-row {
        .levelContainer {
            padding: 8px 0;
            padding-top: 18px;
        }

        td {
            &.river-stats{
                .river__heading{
                    min-width: 50vw;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {

    tr.flow__table-row {
        font-size: .65rem;

        .mobile-hide {
            display: none;
        }

        .mobile-show {
            display: initial;
        }

        .info_container {
            font-size: 10px;
            max-width: 96vw;
            box-shadow: 2px 2px 4px 4px rgb(188 188 188);
        }

        td {
            width: 34%;
            padding-top: 1.5rem;

        }

        td.level,
        td.river-stats {
            font-size: 1.25em;

            p {
                // margin-top: 12px;
                line-height: normal;

                &:nth-of-type(1) {
                    margin-top: 12px;
                }
            }

            span {
                margin-top: 5px;
            }

            .river__heading {
                a {
                    font-size: 1.05rem;
                }
            }
        }


        .levelContainer {
            padding: 0px;
            justify-content: space-evenly;

            >div {
                width: 25%;
            }

            .levelInfo {
                font-size: 1.15rem;
                justify-content: center;

                &.mobile-hide {
                    display: none;
                }

                &.mobile-show {
                    display: initial;
                }
            }
        }


        .mobile-show.gaugeInfo,
        .gaugeName.mobile-show {
            display: table-cell;
            // padding: 10px 8px;
            box-sizing: border-box;
            overflow: hidden;
        }


        .level {
            width: 55%;

            .mobile-show {
                font-size: .9em;
                font-weight: 500;

                hr {
                    margin: 1px auto;
                }
            }

        }

        .flowBar {
            height: 60px;
        }

        .gaugeName {
            font-size: .65rem;
            padding-top: 1.6rem;

            a {
                font-size: .5rem;
            }
        }
    }

}



@media screen and (max-width: 380px) {
    tr.flow__table-row {

        td.level,
        td.river-stats {
            font-size: .85rem;

            .gauge-reading {
                font-size: 1.2rem;
            }

            .river__heading {
                a {
                    font-size: .85rem;
                }
            }
        }

    }
}