@use "../styles/global_variables.scss" as gv;
.component__container {
    width: 95%;
    margin: 0 auto;
    transition: visibility 2s ease-in, opacity 2s, max-height 2s;
    background: rgba(100, 100, 100, 0.1);
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    p {
        padding: 8px;
        font-family: gv.$primary_headers;
        font-size: .65rem;
        font-weight: 600;
        line-height: 1rem;
    }
}