tr.visuals-row {

    td {
        line-height: 1rem;
        position: relative;
        padding: 5px;
        font-size: .65rem;

        .alert-icon{
            padding-right: 5px;
        }

        &.gauge-cell {
            font-weight: 500;
            font-size: .8rem;
        }
    }
}