@use "../styles/global_variables.scss" as gv;
.component__container {
    @include gv.componentContainerTheme;

    p {
        padding: 8px;
        font-family: gv.$primary_headers;
        font-size: .65rem;
        font-weight: 600;
        line-height: 1rem;
    }
}

@media screen and (min-width: 640px) {
    .component__container {
        p{
            font-size: .8rem;
        }
    }
    
}