tr.visuals-row {

    td {
        line-height: 1rem;
        position: relative;
        padding: 5px;
        font-size: .65rem;

        .alert-icon{
            padding-right: 5px;
        }
    }
}